/*@media print {*/

  @page {
      margin: 0 10px;
      /*margin-left: 7mm;
      margin-right: 5mm;
      margin-top: 0mm;*/

  }
  body {
    font-size: 9px;
    max-width: 400px;
    min-width: 200px;
    /*font-family: arial;*/
    /*font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: Verdana,Tahoma, Segoe, sans-serif;
    /*max-width: 200px;*/
  }
  .receipt-container {
    margin-bottom: 30px;
    /*width: 300px;*/
    /*border-width: 1px;
    border-style: solid;*/
  }
  .institution_header{
    width: 100%;
    float: left;
    margin-left: 5px;
  }
  .institution_name{
    font-size: 11px;
    /*text-align: center;*/
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .institution_address {
    font-size: 11px;
  }
  .receipt_title {
    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    clear: both;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .institution_logo {
    float: left;
    width: 15%;
    height: 50px;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    margin-right: 5px;
    display: none;
  }

  .receipt-details {
    /*width: 100%;*/
    margin: 5px;
  }
  .student-details {
    margin: 5px;
  }
  td.left-label {
    padding-right: 10px;
  }
  .left{
    float: left;
    width: 60%;
  }
  .right {
    float: right;
    text-align: right;
    width: 40%;
    word-wrap: break-word;
  }
  .receipt-details_item {
    /*margin-top: 5px;*/
    clear: both;
    line-height: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .receipt-footer{
    color: gray;
    margin: 5px;
  }
  section{
    /*border-bottom:2px solid #333;*/
    border-top:1px solid black;
    /*border-bottom:1px solid black;*/
    border-collapse: collapse;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
    margin-top: -1px; /* workaround for border collapse*/
    margin-bottom: -1px; /* workaround for border collapse*/
  }
  .student-details {

  }
  section.particulars-header {
    border-bottom-width: 0px;
      /*margin-left: 10px;
      margin-right: 10px;*/
  }
  .particulars-header-left {
      float: left;
  }
  .particulars-header-right {
      float: right;
  }
  .payment_status{
    /*font-weight: bold;*/
  }
  .payment_status .left {
    text-align: right;
    width: 70%;
  }
  .payment_status .right {
    /*text-align: right;*/
    width: 30%;
    float: right;
  }
  .bottom_fields{
    clear: both;
  }
  .subtitle {
    /*font-weight: bold;*/
  }
  .particulars-header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .summary p {
    margin-top: 0px;
    margin-left: 5px;
  }
  .discount p {
    margin-top: 0px;
    margin-left: 5px;
  }
  .subtitle {
    margin-top: 0px;
    margin-left: 5px;
  }

  /*Particular wise*/
  .particular_wise_item {

  }
  .particular_wise_item .particular_name{
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
  .particular_wise_item .particular_wise_item_details{
    font-weight: normal;
    float: right;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .particular_wise_item_details .left {
    width: 70%;
    text-align: right;

  }
  .particular_wise_item_details .right {
    width: 30%;
  }
  .table {
    display: table;
  }
  .table-row {
    display: table-row;
  }
  .table-cell {
    display: table
  }
/*}*/
/* style defaults*/
tr {
  height: 15px;
}
p {
  margin: 1em 0 1em 0;
}
body {
  margin: 1px;
  /*padding: 1em;*/
}

.payment_status-details {
    width: 100%;
}
.payment_status-details tr {

}
.payment_status-details td {

}
.payment_status-details .right-label {
  text-align: right;

}
.payment_status-details .bold {
  float: right;
}
hr {
  background-color: black;
  height: 1px;
  border: 0 none;
  color: black;
}
td.left {
    float: inherit;
    width: inherit;
    padding-right: 5px;
    padding-left: 5px;
    width: 40%;
}
body {
  background-color: #fff;
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

