<%= stylesheet_link_tag("homes/_template_thermal_responsive") %>
<!-- Template for  template thermal responsive -->
<div class="receipt-container">
  <div id="receipt">
    <div class="receipt-header">
      <div class="institution_logo">
      </div>
      <div class="institution_header">
        <p class="institution_name">fjkdsbfjk</p>
        <p class="institution_address">sdklnfkl</p>
      </div>
    </div>
    <div class="receipt_title">
     fdfd
    </div>
    <div class="receipt-content">
      <table class="receipt-details">
        <tr class="">
          <td class="left-label">
            fdfd
          </td>
          <td class="bold">
            fdfd
          </td>
        </tr>
        <tr class="">
          <td class="left-label">
           fgfgfd
          </td>
          <td class="">
            gfgfd
          </td>
        </tr>
      </table>
      <hr>
      <table class="student-details">
        <% if 'Student' =='Student' %>
          <tr>
            <td class="left-label">
             dsd
            </td>
            <td class="bold rtl_bracket_fix">
             fdfd
            </tr>
          </td>
          <tr>
            <td class="left-label">
             fdfsd
            </td>
            <td >
              dsfsdf
            </td>
          </tr>
          <tr>
            <td class="left-label">
              dffsdf
            </td>
            <td>
              fdsfsf
            </td>
          </tr>
          <% if true %>
            <tr>
              <td class="left-label">
                fdfdf
              </td>
              <td>
                dfdf
              </td>
            </tr>
          <%end %>
        <% elsif v['payee']['type'] =='Employee' %>
          <tr>
            <td class="left-label">
              sdffdsf
            </td>
            <td class="bold">
              dsfsdfd>
            </td>
          </tr>
          <tr>
            <td class="left-label">
              sdfsdf>:
            </td>
            <td>
              sdfsdf
            </td>
          </tr>
          <tr>
            <td class="left-label">
              sdfsdf
            </td>
            <td>
              sdffdsf
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="left-label">
            sdfsdfsdf
          </td>
          <td>
            sdfsdsdf
          </td>
        </tr>
        <tr>
          <% if "stu" == "stu"%>
            <td class="left-label">
              sdfsdfsd
            </td>
            <td>
              asdsads
            </td>
          <% end %>
        </tr>
      </table>
      <section class="particulars-header">
        <div class="particulars-header-left">asdsads</div>
        <div class="particulars-header-right">asdasd</div>
      </section>
      <% if true == true%>
        <%i=0%>
        <section class="particulars">
          <%[1,2,3,4].each do |particular_type|%>
            <%[6,4,7,8].each do |fp|%>
              <div class="receipt-details_item">
                <div class="left"><%=i+=1%>. <%=fp%></div>
                <div class="right"><%=  fp %></div>
              </div>
            <%end%>
          <%end%>
        </section>
      <% else %>
        <div class="particulars">
          <% [9,9,9,9].each_with_index do |particular,index| %>
            <section class="particular_wise_item">
              <div class="particular_name">
                <%= "#{index+1}. #{particular}" %>
              </div>
              <div class="particular_wise_item_details">
                <div class="left">
                  <%=  t('amount') %>
                </div>
                <div class="right">
                  <%= precision_label(particular) %>
                </div>
              </div>
              <% if particular_has_previous_payments(particular) %>
                <div class="particular_wise_item_details">
                  <div class="left">
                    <%= t('remaining_balance') %>
                  </div>
                  <div class="right">
                    <%= precision_label(particular) %>
                  </div>
                </div>
              <% end %>
              <% if particular_has_discount(particular) %>
                <div class="particular_wise_item_details">
                  <div class="left">
                    <%= t('discount') %>
                   </div>
                  <div class="right">
                    - <%= precision_label(particular.discount) %>
                  </div>
                </div>
              <% end %>
              <div class="particular_wise_item_details">
                <div class="left">
                  <%= t('amount_paid') %>
                </div>
                <div class="right">
                  <%= precision_label(particular.amount_paid) %>
                </div>
              </div>
              <div class="particular_wise_item_details">
                <div class="left">
                  <%= t('balance') %>
                </div>
                <div class="right">
                  <%= precision_label(particular.balance) %>
                </div>
              </div>
            </section>
          <% end %>
        </div>
      <% end %>
      <section class="discount">
        <% if true%>
          <p class="subtitle">
            discount
          </p>
        <% end %>
        <%[1,5,5,5].each_with_index do |d,i|%>
          <div class="receipt-details_item">
              <div class="left"><%=i+=1%>.<%= d%></div>
              <div class="right">- <%= d %></div>
          </div>
        <%end%>
      </section>
      <section class="fine">
        <% if true %>
          <p class="subtitle">
            fine
          </p>
        <% end %>
        <%[9,9,9,9].each_with_index do |fine,i|%>
          <div class="receipt-details_item">
              <div class="left "><%=i+=1%>.<%= fine %></div>
              <div class="right"><%= fine %></div>
          </div>
        <%end%>
      </section>
      <section class="summary">
        <p class="subtitle">
          <%= t('summary') %>
        </p>
        <div class="receipt-details_item">
          <div class="left">
            <%= t('total_fees') %>
          </div>
          <div class="right">
            <%= "dsdas" %>
          </div>
        </div>
        <% if true %>
          <div class="receipt-details_item">
            <div class="left">
              <%= t('discount') %>
            </div>
            <div class="right">
              - <%= "dfdsf" %>
            </div>
          </div>
        <% end %>
        <% if true%>
          <div class="receipt-details_item">
            <div class="left">
              <%= t('fine') %>
            </div>
            <div class="right">
              <%= "sdds" %>
            </div>
          </div>
        <% end %>
      </section>
      <section class="payment_status">
        <table class="payment_status-details">
          <tr class="">
            <td class="right-label">
              <%= "dfdfdf" %>:
            </td>
            <td class="bold">
              <%= "dfdfds" %>
            </td>
          </tr>
          <% if true %>
            <tr class="">
              <td class="right-label">
                <%= t('previous_payments') %>:
              </td>
              <td class="bold">
                <%= "fdsdf" %>
              </td>
            </tr>
          <% end %>
          <tr class="">
            <td class="right-label">
              <%= t('amount_paid') %>:
            </td>
            <td class="bold">
              <%= "dsfdsf" %>
            </td>
          </tr>
          <% if true %>
            <tr class="">
              <td class="right-label">
                <%= t('total_amount_paid') %>:
              </td>
              <td class="bold">
                <%= "dfsdf" %>
              </td>
            </tr>
          <% end %>
          <tr class="">
            <td class="right-label">
              <%= t('total_due_amount') %>:
            </td>
            <td class="bold">
              <%= "dsds"%>
            </td>
          </tr>
        </table>
      </section>
      <section class="bottom_fields">
        <table>
          <tr class="receipt-details_item">
            <td class="left">
              <%= t('payment_mode') %>:
            </td>
            <td class="">
              <%= "sdfdsf"%>
            </td>
          </tr>
          <%if true%>
            <tr class="receipt-details_item">
              <td class="left"><%= "sdgfd" %>:</td>
              <td class=""><%= "sdfsd" %></td>
            </div>
          <% end %>
          <%if true%>
            <tr class="receipt-details_item">
              <td class="left">
                <%= t('notes') %>:
              </td>
              <td class="">
                <%= "dffsd" %>
              </td>
            </tr>
          <% end %>
        </table>
      </section>
    </div>
    <div class="receipt-footer">
      <%#= v["payment_note"] %>
    </div>
  </div>
</div>
<%#= debug v %>
<style type="text/css">

/*@media print {*/
  @page {
      margin: 0 10px;
      /*margin-left: 7mm;
      margin-right: 5mm;
      margin-top: 0mm;*/

  }
  body {
    font-size: 9px;
    max-width: 400px;
    min-width: 200px;
    /*font-family: arial;*/
    /*font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: Verdana,Tahoma, Segoe, sans-serif;
    /*max-width: 200px;*/
  }
  .receipt-container {
    margin-bottom: 30px;
    /*width: 300px;*/
    /*border-width: 1px;
    border-style: solid;*/
  }
  .institution_header{
    width: 100%;
    float: left;
    margin-left: 5px;
  }
  .institution_name{
    font-size: 11px;
    /*text-align: center;*/
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .institution_address {
    font-size: 11px;
  }
  .receipt_title {
    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    clear: both;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .institution_logo {
    float: left;
    width: 15%;
    height: 50px;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    margin-right: 5px;
    display: none;
  }

  .receipt-details {
    /*width: 100%;*/
    margin: 5px;
  }
  .student-details {
    margin: 5px;
  }
  td.left-label {
    padding-right: 10px;
  }
  .left{
    float: left;
    width: 60%;
  }
  .right {
    float: right;
    text-align: right;
    width: 40%;
    word-wrap: break-word;
  }
  .receipt-details_item {
    /*margin-top: 5px;*/
    clear: both;
    line-height: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .receipt-footer{
    color: gray;
    margin: 5px;
  }
  section{
    /*border-bottom:2px solid #333;*/
    border-top:1px solid black;
    /*border-bottom:1px solid black;*/
    border-collapse: collapse;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
    margin-top: -1px; /* workaround for border collapse*/
    margin-bottom: -1px; /* workaround for border collapse*/
  }
  .student-details {

  }
  section.particulars-header {
    border-bottom-width: 0px;
      /*margin-left: 10px;
      margin-right: 10px;*/
  }
  .particulars-header-left {
      float: left;
  }
  .particulars-header-right {
      float: right;
  }
  .payment_status{
    /*font-weight: bold;*/
  }
  .payment_status .left {
    text-align: right;
    width: 70%;
  }
  .payment_status .right {
    /*text-align: right;*/
    width: 30%;
    float: right;
  }
  .bottom_fields{
    clear: both;
  }
  .subtitle {
    /*font-weight: bold;*/
  }
  .particulars-header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .summary p {
    margin-top: 0px;
    margin-left: 5px;
  }
  .discount p {
    margin-top: 0px;
    margin-left: 5px;
  }
  .subtitle {
    margin-top: 0px;
    margin-left: 5px;
  }

  /*Particular wise*/
  .particular_wise_item {

  }
  .particular_wise_item .particular_name{
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
  .particular_wise_item .particular_wise_item_details{
    font-weight: normal;
    float: right;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .particular_wise_item_details .left {
    width: 70%;
    text-align: right;

  }
  .particular_wise_item_details .right {
    width: 30%;
  }
  .table {
    display: table;
  }
  .table-row {
    display: table-row;
  }
  .table-cell {
    display: table
  }
/*}*/
/* style defaults*/
tr {
  height: 15px;
}
p {
  margin: 1em 0 1em 0;
}
body {
  margin: 1px;
  /*padding: 1em;*/
}

.payment_status-details {
    width: 100%;
}
.payment_status-details tr {

}
.payment_status-details td {

}
.payment_status-details .right-label {
  text-align: right;

}
.payment_status-details .bold {
  float: right;
}
hr {
  background-color: black;
  height: 1px;
  border: 0 none;
  color: black;
}
td.left {
    float: inherit;
    width: inherit;
    padding-right: 5px;
    padding-left: 5px;
    width: 40%;
}


</style>