<h1>Editing Home</h1>
<%= render 'form', home: @home %>
<button type="button" name="button" onclick="print_preview()" class="submit-button"><%= 'Print Sample Receipt' %></button>
<div class="preview_container">
 <iframe src="http://<%=request.host%>:<%=request.port%>/homes/thermal" id="preview_frame" frameborder="0" scrolling="no" onload='javascript:initilize_iframe(this);'></iframe>
</div>
<style type="text/css">
.preview_container {
    float: left;
    clear: both;
    width: 100%;
}

#preview_frame {
  width: 100%;
   margin-left: 202px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 50%;
  /*margin: 0 auto;*/
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}	
</style>
<script type="text/javascript">
  var j = jQuery;
  function load_css(href) {
  	console.log(href);
    remove_template_stylesheets();
     var cssLink = j("<link rel='stylesheet' type='text/css' href='"+href+"'>");
     j("head").append(cssLink);
  }
  function remove_template_stylesheets (){
    j('link[rel=stylesheet][href~="/stylesheets/homes/_template_thermal_responsive.css"]').remove();
  }
  function print_preview() {
    var ifrm = document.getElementById('preview_frame');
    iframe_window=(ifrm.contentWindow || ifrm.contentDocument)
    iframe_window.document.execCommand('print', false, null) || iframe_window.print();
  }
  function set_template(id) {
    j("#loader_image").show();
    reset_iframe_dimensions();
    var iframe = document.getElementById('preview_frame');
    // TODO make https compatiable
    // iframe.src= "<%= "http://localhost:3001/homes/thermal" %>";
    j.get(window.location.protocol+"//"+window.location.host+"/finance/get_dotmatrix_printer_message/"+id)
    iframe.src=window.location.protocol+"//"+window.location.host+"/finance/fees_receipt_preview?type="+id
    if(id==0) {
      // j("#preview_frame").addClass("a4_preview_overrides");
    } else {
      j("#preview_frame").removeClass("a4_preview_overrides");
    }
  }
  function initilize_iframe (obj) {
    resizeIframe(obj);
    j("#loader_image").hide();
    if(current_layout()==0) {
      // j("#preview_frame").addClass("a4_preview_overrides");
    } else {
      j("#preview_frame").removeClass("a4_preview_overrides");
    }
  }
  function current_layout() {
    return j("#receipt_printer_receipt_printer_template").val()
  }
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
    obj.style.width = obj.contentDocument.documentElement.scrollWidth+'px';
  }
  function reset_iframe_dimensions() {
    var iframe = document.getElementById('preview_frame');
    iframe.style.height=0+ 'px';
    iframe.style.width=0+ 'px';
  }
  j(function() {
    reset_iframe_dimensions();
  });
</script>