<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @home.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @home.gender %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
